<launch>
   <arg name="scan" default="scan"/>
   
  <node pkg="gmapping" type="slam_gmapping" name="mapper">
      <param name="scan" value="$(arg scan)" />
  		<param name="maxUrange" value="15.0" type="double" />
  		<param name="xmax" value="20" type="double" />
  		<param name="ymax" value="20" type="double" />
  		<param name="xmin" value="-20" type="double" />
  		<param name="ymin" value="-20" type="double" />
  	</node>

  　<node pkg="rviz" type="rviz" args="-d '$(find delivery_navigation)/config/rviz/mapping.rviz'" name="visualizer" respawn="true" />
</launch>
